@use "../abstracts/functions";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
  .img {
    max-width: 100%; 
    height: auto; 
  }
}
.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
   
}
.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    &-close {
      padding: 7px 20px;
      border: 1px solid #fff;
      color: #fff;
      font-size: 2rem;
      float: right;
      border-radius: 5px;
      background: red;
      display: none;
    }
    &-toggler {
      padding: 7px 10px;
      display: none;
      border: 1px solid;
      border-radius: 5px;
      background: transparent;
    }
    &-logo {
      display: flex;
      align-items: center;
      gap: 25px;
      color: $text-color;
      font-weight: 700;
      font-size: 2rem;
      text-decoration: none;
    }
    &-menu {
      &_contact {
        display: flex;
        gap: 50px;
        list-style: none;
        &--item:nth-child(2) {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        a {
          text-decoration: none;
          color: #000;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.3s;
          &:hover {
            color: $text-color;
          }
        }
      }
      &_pages {
        display: flex;
        gap: 30px;
        list-style: none;
        margin-top: 15px;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: #000;
          transition: 0.3s;
          font-family: sans-serif;
          text-transform: uppercase;
          font-weight: 600;
          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }
  &__hero {
    background: url(../images/bg.png) no-repeat center / cover;
    height: 500px;
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 50px;
    h1 {
      color: #fff;
      max-width: 500px;
    }
    button {
      @include m.button;
    }
  }
}
.show {
  display: block !important;
}

// ! main
.service {
  padding: 100px 0;
  background: #ebebeb;
  &__title {
    margin-bottom: 50px;
    h2 {
      font-size: functions.pxToRem(32);
    }
    p {
      color: #bdbdbd;
      font-family: sans-serif;
    }
  }
  &__cards {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    &-item {
      height: 360px;
      background: #000 url(../images/card-bg.png) no-repeat center / cover;
      color: #fff;
      min-width: 100px;
      display: flex;
      align-items: end;
      padding: 50px;
      font-family: sans-serif;
      font-size: 20px;
      position: relative;
      z-index: 0;
      transition: 0.3s;
      &:hover {
        transform: scale(102%);
      }
      &:hover::after {
        opacity: 0.5;
      }
      &::after {
        transition: 0.5s;
        position: absolute;
        z-index: -1;
        background: $primary-color;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        left: 0;
      }
    }
  }
}


// 

.B{
  margin-top: 60px;
  display: flex;


  .S{
    color:#005FA3 ;
  }
  
  .about {
    
    flex: 1;
    .text-block {
      h2 {
        font-size: 18px;
        color: #555;
        margin-bottom: 15px;
      }
      h1 {
        font-size: 28px;
        font-weight: bold;
        color: #000;
        margin-bottom: 15px;
      }
      .S{
        color:#005FA3 ;
      }
      
      p {
        max-width: 445px;
        margin-top: 10px;
        font-size: 14px;
        color: #666;
      }
    }
  }
  
  .stats{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    flex: 1;
    
  
    .stat{
      gap: 30px;
      width: 255px;
      height: 255px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      background-color: #f9f9f9;
      transition: all 0.7 ease;

      &:hover{
        background-color: #005FA3;
        transform: scale(1.07);
        color: #fff;

      }
      
      .R{

        color: #005FA3;
         &:hover{
          color: #f9f9f9;
         }
      }
      .T{
  
        height: 37px;
        color: #000000;
        user-select: none;
      }
      .p{
        user-select: none;
        font-size: 14px;
  
        margin: 10px 0;
  
      }
      a {
        color: inherit;
        text-decoration: underline;
        font-size: 14px;
      }
      h2 {
        user-select: none;
        font-size: 36px;
        margin: 0;
      }
    }
  }

}


.stats2 {
  margin-top: 255px;
  max-width: 1440px;
  height: 630px;
  background-color: #faefef;
  display: flex; 
  flex-direction: column; 
  gap: 50px; 
  align-items: flex-start;
  padding: 30px; 

  .text-block2 {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    margin-left: 405px; 
    margin-top: 30px; 
    .p {
      font-size: 24px;
      color: #BDBDBD;
    }
    .h1 {
      font-size: 48px;
      color: #333333;
      margin: 0;
    }
  }

  .M {
    display: flex;
    gap: 40px; 
    margin-left: 405px; 
    width: auto; 
    height: 130px; 
  }


  .button-group {
    margin-left: auto; 
    display: flex;
    gap: 5px; 
    margin-top: auto; 
    padding-right: 190px;
  }
  
  .btn {
    width: 40px;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #d6e6f2;
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    color: #4d4d4d; 
    cursor: pointer; 
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    transform: scale(1.1); 
  }
  
  .btn:active {
    transform: scale(0.95); 
  }
  
  .btn-next {
    background-color: #0056b3; 
    color: #ffffff; 
  }
  

}


// 

@media screen and (max-width: 1220px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  
}
@media screen and (max-width: 1100px) {
  .header__nav {
    justify-content: space-between;
    padding: 25px 40px;
    &-toggler,
    &-close {
      display: block;
    }
  }
  .header__nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #222;
    padding: 50px;
    color: #fff;
    ul {
      flex-direction: column;
      align-items: center;
      &:nth-child(2) {
        margin-top: 50px;
      }
    }
    a {
      color: #fff;
    }
  }
}
@media screen and (max-width: 1080px) {

  .stats2{
      align-items: center;
    .M{
     display: grid;
   grid-template-columns: repeat(2,1fr);

   flex: 1;
   
    }
   }

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

}
@media screen and (max-width: 950px) {
   
    
  .header {
    &__hero {
      padding-left: 50px;
    }
  }
  .service {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  


@media screen and (max-width: 900px ) {
  .B{
    display: block;
  
  }

  
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 600px) {
     
    .B{
      .stats{
        display: block;
        grid-template-columns: repeat(2,1fr);
    
        flex: 1;
        
      }
    }
  

  .service {
    &__title {
      h2 {
        font-size: functions.pxToRem(20);
      }
    }
    &__cards {
      &-item {
        font-size: 16px;
        height: 300px;
      }
    }
  }
}
@media screen and (max-width: 550px) {

  .stats2{
    max-width: 100%;
 
    .M{
     display: grid;
   grid-template-columns: repeat(2,1fr);

   flex: 1;
   
    }
   }

  .header {
    &__hero {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
  .service {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      &-item {
        justify-content: center;
        padding: 50px 20px;
      }
    }
  }
}


@media screen and (max-width: 425px) {
  .header {
    &__hero {
      padding-left: 20px;
    }
    &__nav {
      &-logo {
        font-size: functions.pxToRem(20);
        gap: 10px;
      }
    }
  }
}


  .stats2{
 
     .M{
      display: grid;
    grid-template-columns: repeat(2,1fr);

    flex: 1;
    
     }
    }


}